body {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
}

li {
  font-size: 16pt;
}
label {
  display: block;
  font-size: 18pt;
  padding: 2rem;
}

h2 {
  display: block;
  font-size: 18pt;
  padding: 1rem;
  text-align: center;
}

p {
  font-size: 15pt;
  text-align: center;
  padding-right: 2rem;
  padding-left: 2rem;
}
.navbar {
  padding: 3rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
nav a {
  display: inline-block;
  margin: 2em;
}
.upload {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  width: 170px;
}
.triplist {
  text-align: center;
}
.nav-header {
  font-size: 30pt;
  font-weight: bold;
  padding-right: 20px;
  color: black;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  font-size: 15pt;
  color: green;
  font-weight: bold;
  padding: 1em;
}
a:visited,
a:link,
a:hover {
  color: green;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chart {
  display: flex;
  justify-content: center;
}
svg {
  text-align: center;
  margin-bottom: 100px;
}
